.back{background-color: firebrick}
.gre{background-color: greenyellow; font-size: 20px; border-style:solid; border-color:white}
.pur{background-color: purple; font-size:20px; border-style:solid;border-color:white}
.twe{background-color: royalblue; font-size:20px; border-style:solid;border-color:white}