.back{background-color: firebrick}
.gre{background-color: greenyellow; font-size: 20px; border-style:solid; border-color:white}
.pur{background-color: purple; font-size:20px; border-style:solid;border-color:white}
.twe{background-color: royalblue; font-size:20px; border-style:solid;border-color:white}
.orago{background-color: orangered;font-size: 20px; border-style: solid; border-color:white}
.yew{background-color: yellow;font-size: 20px; border-style: solid; border-color: white}